<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanghui.mybatics.mapper.StudentMapper">

<resultMap id="StudentMap" type="com.yanghui.mybatics.dao.StudentTest">
    <result column="name" property="name"/>
    <result column="age" property="age"/>
</resultMap>


    <delete id="deleteByName">
        delete from studentest where name = #{name}
    </delete>

</mapper>